*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

body{
background:#111827;
color:white;
}

.container{
display:flex;
min-height:100vh;
}

.sidebar{
width:250px;
background:#1f2937;
padding:25px;
}

.sidebar h2{
margin-bottom:30px;
color:#a855f7;
}

.sidebar label{
display:block;
margin-top:15px;
margin-bottom:5px;
}

.sidebar select{
width:100%;
padding:10px;
border:none;
border-radius:8px;
}

main{
flex:1;
padding:25px;
}

header{
margin-bottom:25px;
}

.kpis{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:#1f2937;
padding:20px;
border-radius:12px;
}

.card h2{
margin-top:10px;
color:#a855f7;
}

.graficos{
margin-top:30px;
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.grafico{
background:#1f2937;
padding:20px;
border-radius:12px;
}

.ranking{
margin-top:25px;
background:#1f2937;
padding:20px;
border-radius:12px;
}

.rank-item{
padding:12px;
margin:8px 0;
border-radius:8px;
font-weight:bold;
}

.critico{
background:#dc2626;
}

.medio{
background:#f59e0b;
}

.baixo{
background:#16a34a;
}

.tabela{
margin-top:25px;
background:#1f2937;
padding:20px;
border-radius:12px;
}

#pesquisa{
width:100%;
padding:10px;
margin-bottom:15px;
border-radius:8px;
border:none;
}

table{
width:100%;
border-collapse:collapse;
}

th,td{
padding:10px;
text-align:center;
border-bottom:1px solid #374151;
}

.atrasada{
background:rgba(220,38,38,.15);
}

.prazo{
background:rgba(22,163,74,.15);
}
